<!DOCTYPE html>
<html lang="en">
	<head>
		{include file="index/header" systemTitle=$systemTitle description=$description/}
	</head>
	<body class="no-skin">
		{include file="index/header_menu" systemTitle=$systemTitle /}
		<div class="main-container" id="main-container">
			{include file="index/left_menu"  /}
			<div class="main-content">
				<div class="main-content-inner">
					<div class="breadcrumbs" id="breadcrumbs">
						<script type="text/javascript">
							try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
						</script>

						<ul class="breadcrumb">
							<li>
								<i class="ace-icon fa fa-home home-icon"></i>
								<a href="#">首页</a>
							</li>
						</ul><!-- /.breadcrumb -->

						<div class="nav-search" id="nav-search">
							<form class="form-search">
								<span class="input-icon">
									<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off">
									<i class="ace-icon fa fa-search nav-search-icon"></i>
								</span>
							</form>
						</div><!-- /.nav-search -->
					</div>

					<div class="page-content">
						<div class="row">
							<div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 ">
								<!-- PAGE CONTENT BEGINS -->
								<div>{$tableData}</div>	
							</div>
						</div>
					</div><!-- /.page-content -->
				</div>
			</div><!-- /.main-content -->

			{include file="index/footer"  /}
		</div><!-- /.main-container -->

		{include file="index/footer_js"  /}
	</body>
</html>
