<!DOCTYPE html>
<html lang="en">
	<head>
	
		<link rel="stylesheet" href="/assets/css/ui.jqgrid.min.css" />
		{include file="index/header" systemTitle=$systemTitle description=$description/}
		<!-- page specific plugin styles -->
		<link rel="stylesheet" href="/assets/css/jquery-ui.min.css" />
		<link rel="stylesheet" href="/assets/css/datepicker.min.css" />
	</head>

	<body class="no-skin">
		<div class="main-container" id="main-container">

			<div class="main-content">
				<div class="main-content-inner">
					<div class="breadcrumbs" id="breadcrumbs">
						<script type="text/javascript">
							try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
						</script>
						<ul class="breadcrumb">
							<li>
								<i class="ace-icon fa fa-home home-icon"></i>
								首页
							</li>

							<li class="active">运费查询</li>
						</ul><!-- /.breadcrumb -->
					</div>

					<div class="page-content" id='page-content'>
						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->
								<form id='myForm' name='myForm' class="form-horizontal" role="form" action='/index/index/compareRates' method='post'>
								<div class="form-group">
										<label class="col-xs-3 col-sm-3 control-label no-padding-right" for="toZipcode">发货仓库 </label>

										<div class="col-xs-9 col-sm-9">
											<select class="col-xs-6 col-sm-5" id="sendFrom" name="sendFrom">
												<option value="94536">加州仓</option>
												<option value="79925">德州仓</option>
											</select>
										</div>
								</div>
								<div class="form-group">
										<label class="col-xs-3 col-sm-3 control-label no-padding-right" for="customer_id">客户ID </label>

										<div class="col-xs-9 col-sm-9">
											<input type="text" id="customer_id" name='customer_id' placeholder="客户ID" class="col-xs-6 col-sm-5" value="{$customer_id ?? ''}">
										</div>
								</div>

								<div class="form-group">
										<label class="col-xs-3 col-sm-3 control-label no-padding-right" for="toZipcode">派送邮编 </label>

										<div class="col-xs-9 col-sm-9">
											<input type="text" id="toZipcode" name='toZipcode' placeholder="{$sendTo ?? 'toZipcode'}" class="col-xs-6 col-sm-5">
											<input type="hidden" id="sendTo" name='sendTo'  value="{$sendTo ?? ''}">
										</div>
								</div>
								<div class="form-group">
										<label class="col-xs-3 col-sm-3 control-label no-padding-right" for="toCity">派送城市 </label>

										<div class="col-xs-9 col-sm-9">
											<input type="text" id="toCity" name='toCity' placeholder="toCity" class="col-xs-6 col-sm-5" value="{$sendToCity ?? ''}">
										</div>
								</div>
								<div class="form-group">
										<label class="col-xs-3 col-sm-3 control-label no-padding-right" for="toState">派送州 </label>

										<div class="col-xs-9 col-sm-9">
											<input type="text" id="toState" name='toState' placeholder="toState" class="col-xs-6 col-sm-5" value="{$sendToState ?? ''}">
										</div>
								</div>

								<div class="form-group">
										<label class="col-xs-3 col-sm-3 control-label no-padding-right" for="weight">重量 </label>

										<div class="col-xs-9 col-sm-9">
											<input type="text" id="weightLbs" name='weightLbs' placeholder="Lbs" class="col-xs-2 col-sm-2" value="{$weightLbs ?? ''}"><div class='col-xs-2 col-sm-2'>(Lbs)</div>
											<input type="text" id="weightOz" name='weightOz' placeholder="Oz" class="col-xs-2 col-sm-2" value="{$weightOz ?? ''}"><div class='col-xs-2 col-sm-2'>(Oz)</div>
	
										</div>
								</div>

								<div class="form-group">
										<label class="col-xs-3 col-sm-3 control-label no-padding-right" for="packing">包材尺寸(In) </label>

										<div class="col-xs-9 col-sm-9">
											<input type="text" id="length" name='length' placeholder="长" class="col-xs-2 col-sm-2" value="{$length ?? ''}"><div class='col-xs-2 col-sm-2'>(L)</div>
											<input type="text" id="width" name='width' placeholder="宽" class="col-xs-2 col-sm-2" value="{$width ?? ''}"><div class='col-xs-2 col-sm-2'>(W)</div>
											<input type="text" id="height" name='height' placeholder="高" class="col-xs-2 col-sm-2" value="{$height ?? ''}"><div class='col-xs-2 col-sm-2'>(H)</div>
										</div>
								</div>
								<div class="clearfix form-group">
										<div class="col-xs-offset-5 col-sm-offset-5 col-md-offset-5 col-md-9">
											<input class="btn btn-info" type="submit" />
										</div>
								</div>
								</form>			
								<div id='messageBox' class="alert alert-warning"></div>
								<table id="grid-table"></table>

								<div id="grid-pager"></div>

								<script type="text/javascript">
									var $path_base = "/";//in Ace demo this will be used for editurl parameter
								</script>

								<!-- PAGE CONTENT ENDS -->
							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div>
			</div><!-- /.main-content -->

			{include file="index/footer"  /}
		</div><!-- /.main-container -->

			{include file="index/footer_js"  /}
		<!-- page specific plugin scripts -->
		<script src="/assets/js/bootstrap-datepicker.min.js"></script>
		<script src="/assets/js/jquery.jqGrid.min.js"></script>
		<script src="/assets/js/grid.locale-en.js"></script>
		<script src="https://cdn.jsdelivr.net/clipboard.js/1.5.10/clipboard.min.js"></script>
		<script src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"></script>
		<!-- inline scripts related to this page -->
		<script type="text/javascript">
			
			var grid_data = {$tableData}
			
			jQuery(function($) {
				var grid_selector = "#grid-table";
				var pager_selector = "#grid-pager";
				
				//resize to fit page size
				$(window).on('resize.jqGrid', function () {
					$(grid_selector).jqGrid( 'setGridWidth', $(".page-content").width() );
			    })
				//resize on sidebar collapse/expand
				var parent_column = $(grid_selector).closest('[class*="col-"]');
				$(document).on('settings.ace.jqGrid' , function(ev, event_name, collapsed) {
					if( event_name === 'sidebar_collapsed' || event_name === 'main_container_fixed' ) {
						//setTimeout is for webkit only to give time for DOM changes and then redraw!!!
						setTimeout(function() {
							$(grid_selector).jqGrid( 'setGridWidth', parent_column.width() );
						}, 0);
					}
			    })
				
		
				jQuery(grid_selector).jqGrid({
			
					data: grid_data,
					datatype: "local",
					height: 265,
					colNames:['供应商','服务',"地址类型","费用"],
					colModel:[
						{name:'provider',index:'provier', width:30, editable: false},
						{name:'services',index:'services', width:30, editable: false},
						{name:'type',index:'type', width:30, editable: false},
						{name:'birdsbay',index:'birdsbay', width:30, editable: false},

					], 
			
					viewrecords : false,
					rowNum:10,
					rowList:[10,20,30],
					//pager : pager_selector,
					altRows: true,
					sortname:'services',
					sortorder:'desc',
					//toppager: true,
					
					multiselect: true,
					//multikey: "ctrlKey",
			        multiboxonly: true,
			
					loadComplete : function() {
						var table = this;
						setTimeout(function(){
							styleCheckbox(table);
							
							updateActionIcons(table);
							updatePagerIcons(table);
							enableTooltips(table);
						}, 0);
					},
			
					//editurl: "/index/index/saveBatch",//nothing is saved
					caption: "运费比较"
			
					,autowidth: true,
			
			
					/**
					,
					grouping:true, 
					groupingView : { 
						 groupField : ['name'],
						 groupDataSorted : true,
						 plusicon : 'fa fa-chevron-down bigger-110',
						 minusicon : 'fa fa-chevron-up bigger-110'
					},
					caption: "Grouping"
					*/
			
				});
				$(window).triggerHandler('resize.jqGrid');//trigger window resize to make the grid get the correct size
				
				
			
				//enable search/filter toolbar
				//jQuery(grid_selector).jqGrid('filterToolbar',{defaultSearch:true,stringResult:true})
				//jQuery(grid_selector).filterToolbar({});
			
			
				//switch element when editing inline
				function aceSwitch( cellvalue, options, cell ) {
					setTimeout(function(){
						$(cell) .find('input[type=checkbox]')
							.addClass('ace ace-switch ace-switch-5')
							.after('<span class="lbl"></span>');
					}, 0);
				}
				//enable datepicker
				function pickDate( cellvalue, options, cell ) {
					setTimeout(function(){
						$(cell) .find('input[type=text]')
								.datepicker({format:'yyyy-mm-dd' , autoclose:true}); 
					}, 0);
				}
			
			
				//navButtons
				jQuery(grid_selector).jqGrid('navGrid',pager_selector,
					{ 	//navbar options
						edit: false,
						editicon : 'ace-icon fa fa-pencil blue',
						add: false,
						addicon : 'ace-icon fa fa-plus-circle purple',
						del: false,
						delicon : 'ace-icon fa fa-trash-o red',
						search: false,
						searchicon : 'ace-icon fa fa-search orange',
						refresh: false,
						refreshicon : 'ace-icon fa fa-refresh green',
						view: false,
						viewicon : 'ace-icon fa fa-search-plus grey',
					},
					{
						//edit record form
						//closeAfterEdit: true,
						//width: 700,
						recreateForm: true,
						beforeShowForm : function(e) {
							var form = $(e[0]);
							form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar').wrapInner('<div class="widget-header" />')
							style_edit_form(form);
						}
					},
					{
						//new record form
						//width: 700,
						closeAfterAdd: true,
						recreateForm: true,
						viewPagerButtons: false,
						beforeShowForm : function(e) {
							var form = $(e[0]);
							form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar')
							.wrapInner('<div class="widget-header" />')
							style_edit_form(form);
						}
					},
					{
						//delete record form
						recreateForm: true,
						beforeShowForm : function(e) {
							var form = $(e[0]);
							if(form.data('styled')) return false;
							
							form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar').wrapInner('<div class="widget-header" />')
							style_delete_form(form);
							
							form.data('styled', true);
						},
						onClick : function(e) {
							//alert(1);
						}
					},
					{
						//search form
						recreateForm: true,
						afterShowSearch: function(e){
							var form = $(e[0]);
							form.closest('.ui-jqdialog').find('.ui-jqdialog-title').wrap('<div class="widget-header" />');
							style_search_form(form);
						},
						afterRedraw: function(){
							style_search_filters($(this));
						}
						,
						multipleSearch: true,
						/**
						multipleGroup:true,
						showQuery: true
						*/
					},
					{
						//view record form
						recreateForm: true,
						beforeShowForm: function(e){
							var form = $(e[0]);
							form.closest('.ui-jqdialog').find('.ui-jqdialog-title').wrap('<div class="widget-header" />')
						}
					}
				)
			
			
				
				function style_edit_form(form) {
					//enable datepicker on "sdate" field and switches for "stock" field
					form.find('input[name=sdate]').datepicker({format:'yyyy-mm-dd' , autoclose:true})
					
					form.find('input[name=stock]').addClass('ace ace-switch ace-switch-5').after('<span class="lbl"></span>');
							   //don't wrap inside a label element, the checkbox value won't be submitted (POST'ed)
							  //.addClass('ace ace-switch ace-switch-5').wrap('<label class="inline" />').after('<span class="lbl"></span>');
			
							
					//update buttons classes
					var buttons = form.next().find('.EditButton .fm-button');
					buttons.addClass('btn btn-sm').find('[class*="-icon"]').hide();//ui-icon, s-icon
					buttons.eq(0).addClass('btn-primary').prepend('<i class="ace-icon fa fa-check"></i>');
					buttons.eq(1).prepend('<i class="ace-icon fa fa-times"></i>')
					
					buttons = form.next().find('.navButton a');
					buttons.find('.ui-icon').hide();
					buttons.eq(0).append('<i class="ace-icon fa fa-chevron-left"></i>');
					buttons.eq(1).append('<i class="ace-icon fa fa-chevron-right"></i>');		
				}
			
				function style_delete_form(form) {
					var buttons = form.next().find('.EditButton .fm-button');
					buttons.addClass('btn btn-sm btn-white btn-round').find('[class*="-icon"]').hide();//ui-icon, s-icon
					buttons.eq(0).addClass('btn-danger').prepend('<i class="ace-icon fa fa-trash-o"></i>');
					buttons.eq(1).addClass('btn-default').prepend('<i class="ace-icon fa fa-times"></i>')
				}
				
				function style_search_filters(form) {
					form.find('.delete-rule').val('X');
					form.find('.add-rule').addClass('btn btn-xs btn-primary');
					form.find('.add-group').addClass('btn btn-xs btn-success');
					form.find('.delete-group').addClass('btn btn-xs btn-danger');
				}
				function style_search_form(form) {
					var dialog = form.closest('.ui-jqdialog');
					var buttons = dialog.find('.EditTable')
					buttons.find('.EditButton a[id*="_reset"]').addClass('btn btn-sm btn-info').find('.ui-icon').attr('class', 'ace-icon fa fa-retweet');
					buttons.find('.EditButton a[id*="_query"]').addClass('btn btn-sm btn-inverse').find('.ui-icon').attr('class', 'ace-icon fa fa-comment-o');
					buttons.find('.EditButton a[id*="_search"]').addClass('btn btn-sm btn-purple').find('.ui-icon').attr('class', 'ace-icon fa fa-search');
				}
				
				function beforeDeleteCallback(e) {
					var form = $(e[0]);
					if(form.data('styled')) return false;
					
					form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar').wrapInner('<div class="widget-header" />')
					style_delete_form(form);
					
					form.data('styled', true);
				}
				
				function beforeEditCallback(e) {
					var form = $(e[0]);
					form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar').wrapInner('<div class="widget-header" />')
					style_edit_form(form);
				}
			
			
			
				//it causes some flicker when reloading or navigating grid
				//it may be possible to have some custom formatter to do this as the grid is being created to prevent this
				//or go back to default browser checkbox styles for the grid
				function styleCheckbox(table) {
				/**
					$(table).find('input:checkbox').addClass('ace')
					.wrap('<label />')
					.after('<span class="lbl align-top" />')
			
			
					$('.ui-jqgrid-labels th[id*="_cb"]:first-child')
					.find('input.cbox[type=checkbox]').addClass('ace')
					.wrap('<label />').after('<span class="lbl align-top" />');
				*/
				}
				
			
				//unlike navButtons icons, action icons in rows seem to be hard-coded
				//you can change them like this in here if you want
				function updateActionIcons(table) {
					/**
					var replacement = 
					{
						'ui-ace-icon fa fa-pencil' : 'ace-icon fa fa-pencil blue',
						'ui-ace-icon fa fa-trash-o' : 'ace-icon fa fa-trash-o red',
						'ui-icon-disk' : 'ace-icon fa fa-check green',
						'ui-icon-cancel' : 'ace-icon fa fa-times red'
					};
					$(table).find('.ui-pg-div span.ui-icon').each(function(){
						var icon = $(this);
						var $class = $.trim(icon.attr('class').replace('ui-icon', ''));
						if($class in replacement) icon.attr('class', 'ui-icon '+replacement[$class]);
					})
					*/
				}
				
				//replace icons with FontAwesome icons like above
				function updatePagerIcons(table) {
					var replacement = 
					{
						'ui-icon-seek-first' : 'ace-icon fa fa-angle-double-left bigger-140',
						'ui-icon-seek-prev' : 'ace-icon fa fa-angle-left bigger-140',
						'ui-icon-seek-next' : 'ace-icon fa fa-angle-right bigger-140',
						'ui-icon-seek-end' : 'ace-icon fa fa-angle-double-right bigger-140'
					};
					$('.ui-pg-table:not(.navtable) > tbody > tr > .ui-pg-button > .ui-icon').each(function(){
						var icon = $(this);
						var $class = $.trim(icon.attr('class').replace('ui-icon', ''));
						
						if($class in replacement) icon.attr('class', 'ui-icon '+replacement[$class]);
					})
				}
			
				function enableTooltips(table) {
					$('.navtable .ui-pg-button').tooltip({container:'body'});
					$(table).find('.ui-pg-div').tooltip({container:'body'});
				}
			
				//var selr = jQuery(grid_selector).jqGrid('getGridParam','selrow');
			
				$(document).one('ajaxloadstart.page', function(e) {
					$(grid_selector).jqGrid('GridUnload');
					$('.ui-jqdialog').remove();
				});
			});
		</script>
<script type="text/javascript">//<![CDATA[
	$(function() {
		// IMPORTANT: Fill in your client key
		var clientKey = "js-PQRNFILm756ICCExOPCdFDoxhYJlFItuykhd23za8GTLjyi7oVl3yJBQHkbm2FRB";
		
		var cache = {};
		var container = $("#page-content");
		var errorDiv = container.find("div.text-error");
		
		/** Handle successful response */
		function handleResp(data)
		{
			// Check for error
			if (data.error_msg)
				errorDiv.text(data.error_msg);
			else if ("city" in data)
			{
				// Set city and state
				container.find("input[name='toCity']").val(data.city);
				container.find("input[name='toState']").val(data.state);
			}
		}
		
		// Set up event handlers
		container.find("input[name='toZipcode']").on("keyup change", function() {
			// Get zip code
			var zipcode = $(this).val().substring(0, 5);
			if (zipcode.length == 5 && /^[0-9]+$/.test(zipcode))
			{
				// Clear error
				errorDiv.empty();
				
				// Check cache
				if (zipcode in cache)
				{
					handleResp(cache[zipcode]);
				}
				else
				{
					// Build url
					var url = "https://www.zipcodeapi.com/rest/"+clientKey+"/info.json/" + zipcode + "/radians";
					
					// Make AJAX request
					$.ajax({
						"url": url,
						"dataType": "json"
					}).done(function(data) {
						handleResp(data);
						
						// Store in cache
						cache[zipcode] = data;
					}).fail(function(data) {
						if (data.responseText && (json = $.parseJSON(data.responseText)))
						{
							// Store in cache
							cache[zipcode] = json;
							
							// Check for error
							if (json.error_msg)
								errorDiv.text(json.error_msg);
						}
						else
							errorDiv.text('Request failed.');
					});
				}
			}
		}).trigger("change");
	});
//]]></script>

<script>
/*
$(document).ready(function(){
    $('#myForm').on('submit', function(e){
        e.preventDefault();

	$(".form-group").each(function () {
		alert($(this).find('input'));
	   if ($(this).find('input').val() == "") {
	       //
	   } else {
	       status = false;//循环有一个input不为空则将status改为false
	   }
	});


    });
});

*/

$(function() {
  // Initialize form validation on the registration form.
  // It has the name attribute "registration"
  $("form[name='myForm']").validate({
    // Specify validation rules
    rules: {
      // The key name on the left side is the name attribute
      // of an input field. Validation rules are defined
      // on the right side
      toCity: "required",
      toState: "required",
      length: {
        required: true,
        number: true
      },
      width: {
        required: true,
        number: true
      },
      height: {
        required: true,
        number: true
      }
    },
    // Specify validation error messages
    messages: {
      length: {
        required: "请输入长度",
        number: "请输入数字"
      },
      width: {
        required: "请输入宽度",
        number: "请输入数字"
      },
      height: {
        required: "请输入高度",
        number: "请输入数字"
      },
      toCity:"请输入城市",
      toState:"请输入州份",
    },
    errorLabelContainer: "#messageBox",
    wrapper: "li",
    submitHandler: function(form) {
        var zipcodeLen = $('#toZipcode').val().length;
        var sendToLen = $('#sendTo').val().length;
        if (zipcodeLen == 0 && sendToLen ==0) {
		alert('请输入Zipcode');
            	return false;
        }
        var weightLbs = $('#weightLbs').val().length;
        var weightOz = $('#weightOz').val().length;
        if (weightLbs == 0 && weightOz ==0) {
		alert('请输入包裹重量');
            	return false;
        }

      form.submit();
    }
  });
});



</script>


	</body>
</html>
